    body{
        background-color: rgba(209, 209, 209, 0.756);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .formulario{
        background-color: rgba(228, 20, 20, 0.705);
        display: grid;
        width: 215px;
        height: 140px;
        align-items: center;
        justify-content: center;
    }

    .flex{
        display: flex;
    }

    .grid{
        display: grid;
    }